/* ==========================================================================
    General
   ========================================================================== */

  html {
    box-sizing: border-box;
  }

  body {
    color: #222;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
    padding: 0;
  }

  h2,
  h4,
  ul {
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: 1.323em;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  a:link {
     color: #444;
  }

  a:visited {
     text-decoration: none;
     color: #444;
  }

  a:hover {
    color: #40c4e0;
  }

  img {
    max-width: 100%;
  }



/* ==========================================================================
    Layout
   ========================================================================== */

  /* flex containers */
  .col.secondary,
  .gallery,
  .gallery-entry,
  .gallery-entry-content,
  .post-list,
  .page-container,
  .row,
  .site,
  nav ul,
  footer ul {
    display: flex;
  }

  .page-container,
  .row,
  .site {
    flex-direction: column;
  }

  .site {
    margin: 0 auto;
    max-width: 1050px;
    min-height: 96vh;
    min-width: 320px;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1050px;
    /*padding: 0 5%;*/
    width: 92%;
  }

  /* grow page-content to take all available space makes the footer stay at the bottom */
  .page-content {
    flex: 1;
    margin-top: 5%;
  }



/* ==========================================================================
    Pagination
   ========================================================================== */
  .pagination {
    text-align: center;
    margin: 8% auto;
    font-weight: 400;
    border-bottom: #9c9c9c dotted 1px;
    border-top: #9c9c9c dotted 1px;
    padding: 14px 0;
  }

  .pagination > a,
  .pagination span,
  .pagination em {
    margin: 0 10px;
  }

  .pagination em {
    color: #40c4e0;
  }

  .pagination span {
    color: #9c9c9c;
  }


/* ==========================================================================
    Header
   ========================================================================== */

  .logo {
    text-align: center;
    cursor: pointer;
    margin: 0;
  }

  .logo img {
    width: 50px;
  }

  .tagline {
    color: #848484;
    font-family: Lato;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .8px;
    margin: 5% auto;
    text-align: center;
  }



/* ==========================================================================
   Navigation
   ========================================================================== */

  nav ul,
  footer ul {
    justify-content: center;
    flex-wrap: nowrap;
  }

  nav li,
  footer li {
    margin: 0 1%;
  }

  nav a {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 1.25px;
    padding: 15px 10px;
    text-align: center;
  }

  .nav-item-current {
    border-bottom: solid 2px #40c4e0;
  }

  .nav-item-current a {
    color: #9c9c9c;
  }



/* ==========================================================================
  Posts
  ========================================================================== */

  .post-list {
    flex-direction: column;
  }

  .post-list,
  .row {
      padding: 5px;
  }

  .post {
    padding: 1em;
  }

  .post-content,
  .post-list li {
    margin-bottom: 6%;
  }

  .post-link,
  .post-title {
    font-weight: 400;
    font-size: 1em;
  }

  .post-header {
    padding-bottom: 1em;
  }

  .post-meta {
    color: #9c9c9c;
    font-size: .75em;
    font-weight: 400;
  }

  .post-excerpt,
  .post-content,
  .page-body {
    margin-bottom: 10px;
  }

  .page-container {
    padding: 1em;
  }
  .col-content {
    padding: 1em;
  }
  .secondary.col {
    background: whitesmoke;
  }

  /*.col-content {
    background: whitesmoke;
    padding: 1em;
  }*/


/* ==========================================================================
  Gallery
  ========================================================================== */

  .col.secondary {
    justify-content: center;
  }

  .gallery  {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-entry {  /* flex-item to make equal height */
    padding: 0.5em;
    width: 100%;
  }

  .gallery-entry-content {
    border: solid #9c9c9c 1px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    flex-direction: column;
    width: 100%;
  }

  .gallery-entry-content a {
    flex: 1 0 auto;
  }

  .gallery-entry-content p {
    margin: 1em;
    border-top: double #9c9c9c 1px;
  }



/* ==========================================================================
  Footer
  ========================================================================== */

footer a {
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 1.25px;
  padding: 15px 10px;
  text-align: center;
}

.icon {
  color: #2290A7;
}





 /* for tablet */
@media only screen and (min-width: 768px) {
  .tagline {
    font-size: 1.25em;
  }

  .post-title {
    font-size: 1.25em;
  }

  .post-excerpt,
  .post-content,
  .page-body {
    font-size: 1.15em;
  }

  .row {
    flex-direction: row;
    align-items: flex-start;
  }

  .primary {
    /*flex: 1 200px;*/
    flex: 1;
    margin: 5px;
  }
  .secondary {
    /*flex: 1 200px;*/
    flex: 2;
    margin: 5px;
  }

  .gallery-entry {
    width: 45%;
  }


}


/* for desktop */
@media only screen and (min-width: 1024px) {
  .tagline {
    font-size: 2em;
  }

  .post-title {
    font-size: 1.5em;
  }

  .gallery-entry {
    width: 30%;
  }
}
