/* for mobile and tablets */
.post-list,
.row {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.gallery  {
  display: flex;
  flex-wrap: wrap;
}

.gallery-entry {
  display: flex;
  padding: 0.5em;
  width: 100%;
}

.gallery-entry-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid #9c9c9c 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border-radius: 4px;
}

.gallery-entry-content a {
  flex: 1 0 auto;
}

.gallery-entry-content p {
  margin: 1em;
}



 /*for desktop */
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.5em; /* 28px */
    margin: 0;
  }

  .tagline {
    font-size: 2em;
  }

  .post-title {
    font-size: 1.5em;
  }

  .post-excerpt,
  .post-content {
    font-size: 1.15em;
  }

  .row {
    flex-direction: row;
    align-items: flex-start;
  }

  .col {
    flex: 1 200px;
    margin: 5px;
  }

  .gallery-entry {
    width: 33.33%;
  }
}
