---
layout: default
---


<ul class="post-list">
  {% for post in paginator.posts %}
  <li class="row">
      <div class="primary col">
        <div class="col-content">
            <h4 class="post-title">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h4>
            <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
            <span class="post-excerpt">{{ post.excerpt }}</span>
            {% capture content_words %}
              {{ post.content | number_of_words }}
            {% endcapture %}
            {% capture excerpt_words %}
              {{ post.excerpt | number_of_words }}
            {% endcapture %}
            <!-- {% if excerpt_words != content_words %}
              <span class="btn"><a href="{{ post.url | prepend: site.baseurl }}/#read-more">[ Continue Reading ]</a></span>
            {% endif %} -->
        </div>
      </div>
      <div class="secondary col">
        <div class="col-content">
          {% if post.image %}
            <img class="post-image" src="{{ post.image }}">
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>


<!-- PAGINATION -->
{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span></i>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
  </div>
{% endif %}
