---
layout: default
---

<section>

<ul class="gallery">
  {% for post in site.posts %}

  <li class="gallery-entry">
    <div class="gallery-entry-content">
      <a href="{{ post.url }}">
        {% if post.image %}
          <img src="{{ post.image }}" />
        {% endif %}
      </a>
      <p class="gallery-caption">
        {% if post.gallery-caption %}
        {{ post.gallery-caption }}
        {% else %}
        {{ post.title }}
        {% endif %}
      </p>
    </div>
  </li>

  {% endfor %}
</ul>
